.container {
  
  text-align: center;
  margin-top: 20px;
  color: white;
}

.title {
  margin-bottom: 20px;
  color: white;
}

.subtitle {
  margin-top: 10px;
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.primary-button, .secondary-button, .success-button, .warning-button {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.primary-button {
  background-color: #007bff;
  color: rgb(255, 255, 255);
}

.secondary-button {
  background-color: #6c757d;
  color: white;
  margin-top: 10px;
}

.success-button {
  background-color: #3cd8f3;
  color: rgb(255, 255, 255);
  margin: 5px;
}

.warning-button {
  background-color: #fa72f3;
  color: rgb(255, 255, 255);
  margin: 5px;
}

.message {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}

.disabled-button {
  background-color: gray !important;
  color: white !important;
  cursor: not-allowed !important;
  opacity: 0.5;
}
